<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity"/>
        <!-- <module name="CyclomaticComplexity"/> Di default è 10, IMPOSSIBILE -->
        <!-- Modifica la CyclomaticComplexity a un massimo di 15: -->
        <module name="CyclomaticComplexity">
            <property name="max" value="15"/>
        </module>
        <module name="MethodLength"/>
        <module name="EmptyCatchBlock"/>
        <!-- <module name="AvoidStarImport"/>  IMPOSSIBILE -->
        <module name="IllegalImport"/>
        <module name="NeedBraces"/>
    </module>
    <module name="FileLength"/>
    <!-- <module name="LineLength"/> Di default è 80, IMPOSSIBILE -->
    <!-- Modifica la LineLength a 250 caratteri: -->
    <module name="LineLength">
        <property name="max" value="250"/>
    </module>
    <module name="FileTabCharacter"/>
    <module name="RegexpHeader">
        <property name="headerFile" value="Header.txt"/>
    </module>  <!-- NON FUNZIONA SE IL FILE HEADER CONTIENE DELLE PARENTESI-->
</module>